
body{
    padding: 0px;
    margin: 0px;
}
.head{
   overflow: hidden;
   background-color: white;
}
.head a{
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 20px 20px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}
.header{
    padding: 60px;
    background-color: black;
}
h1{
    text-align: center;
    color: white;
}
.para{
    color: gray;
    text-align: center;
}
.box1{
    background-color: rgb(224,225,230);
    float: left;
    margin: 70px;
    padding: 5%;
    margin-left: 12%;
}
.box2{
    background-color: rgb(224,225,230);
    padding: 20px;
    float: left;
    margin: 70px;
    padding: 5%;
}
.box3{
    background-color: rgb(224,225,230);
    padding: 20px;
    float: left;
    margin: 70px;
    padding: 5%;
}
.box4{
    background-color: rgb(224,225,230);
    padding: 20px;
    float: left;
    margin: 70px;
    padding: 5%;
    margin-left: 12%;
}
.box5{
    background-color: rgb(224,225,230);
    padding: 20px;
    float: left;
    margin: 70px;
    padding: 5%;
}
.box6{
    background-color: rgb(224,225,230);
    padding: 20px;
    float: left;
    margin: 70px;
    padding: 5%;
}
.footer{
    background-color: black;
    clear: both;
    padding: 20px;
    color: gray;
    text-align: center;
}



