body{
    padding: 0px;
    margin: 0px;
}
.head{
    overflow: hidden;
}
 .head a{
     float: left;
     display: block;
     color: black;
     text-align: center;
     padding: 20px 20px;
     text-decoration: none;
     font-family: Arial, Helvetica, sans-serif;
 }
 .start{
    font-size: 18px;
 }
#right{
    font-size: 15px;
    font-family: Arial, Helvetica, serif;
    border: 1px solid black;
    margin-left: 64%;
    border-radius: 3px;
    padding: 5px;
    margin-top: 15px;
}
.fa-circle-dot{
    font-size: 17px;
}
 .top{
    margin-left: 92%;
    font-size: 15px;
    border: 1px solid black;
    margin-right: 30px;
    padding: 5px;
    border-radius: 2px;
 }
 .header{
     padding: 60px;
     background-color: black;
 }
 h1{
     text-align: center;
     color: white;
     font-size: 50px;
     font-family: Verdana, Geneva, Tahoma, sans-serif;
 }
 .para{
     color: gray;
     text-align: center;
     font-family: Arial, Helvetica, sans-serif;
     font-size: 20px;
 }

#boxes{
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 50px;
    font-family:Arial, Helvetica, sans-serif;
    justify-content:center;
    margin-top: 120px;
}
.box1{
    width: 265px;
    height: 370px;
    border: 1px solid rgb(205,205,230);
    border-radius: 7px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.view{
    margin-top: 21%;
    margin-left: 82px;
    width: 90px;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 14px;
    padding: 10px 5px;
}
.del{
    color: gray;
}
.box2{
    width: 265px;
    height: 370px;
    border: 1px solid rgb(205,205,230);
    border-radius: 3px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.sales1{
    position: absolute;
    top: 67%;
    margin-left: 200px;
    background-color: black;
    color: white;
    border: 1px solid black;
    border-radius: 5px;
    width: 37px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}
.view1{
    margin-left: 82px;
    width: 90px;
    margin-top: 8%;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 14px;
    padding: 10px 5px;
}
.box3{
    width: 265px;
    height: 370px;
    border: 1px solid rgb(205,205,230);
    border-radius: 3px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.view2{
    margin-top: 21.5%;
    margin-left: 82px;
    width: 90px;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 14px;
    padding: 10px 5px;
}
.box4{
    width: 265px;
    height: 370px;
    border: 1px solid rgb(205,205,230);
    border-radius: 5px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.view3{
    margin-left: 82px;
    width: 90px;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 14px;
    padding: 10px 5px;
    margin-top: 8%;
}
.box5{
    width: 265px;
    height: 370px;
    border: 1px solid rgb(205,205,230);
    border-radius: 5px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.view4{
    margin-top: 21%;
    margin-left: 82px;
    width: 90px;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 14px;
    padding: 10px 5px;
}
.sales2{
    position: absolute;
    top: 125%;
    margin-left: 200px;
    background-color: black;
    color: white;
    border: 1px solid black;
    border-radius: 5px;
    width: 37px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}
.box6{
    width: 265px;
    height: 370px;
    border: 1px solid rgb(205,205,230);
    border-radius: 5px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.view5{
    margin-top: 21%;
    margin-left: 82px;
    width: 90px;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 14px;
    padding: 10px 5px;
}
.box7{
    width: 265px;
    height: 370px;
    border: 1px solid rgb(205,205,230);
    border-radius: 5px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
}
.view6{
    margin-left: 82px;
    width: 90px;
    margin-top: 8%;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 14px;
    padding: 10px 5px;
}
.box8{
    width: 265px;
    height: 370px;
    border: 1px solid rgb(205,205,230);
    border-radius: 5px;
    text-align: center;  
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.view7{
    margin-left: 82px;
    width: 90px;
    margin-top: 8%;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 14px;
    padding: 10px 5px;
}
.footer{
    background-color: rgb(33,37,41);
    clear: both;
    padding: 35px;
    color: white;
    text-align: center;
    font-size: 14px;
    margin-top: 3%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}






