body{
    padding: 0px;
    margin: 0px;
}
.head{
    overflow: hidden;
    background-color: white;
 }
 .head a{
     float: left;
     display: block;
     color: black;
     text-align: center;
     padding: 20px 20px;
     text-decoration: none;
     font-family: Arial, Helvetica, sans-serif;
 }
#right{
    font-size: 15px;
    font-family: Arial, Helvetica, serif;
    font-weight: 100;
    border: 1px solid black;
    margin-left: 65%;
    border-radius: 3px;
    padding: 5px;
    margin-top: 13px;
}
 .top{
    margin-left: 92%;
    font-size: 15px;
    border: 1px solid black;
    margin-right: 30px;
    padding: 5px;
    border-radius: 2px;
 }
 .header{
     padding: 60px;
     background-color: black;
 }
 h1{
     text-align: center;
     color: white;
 }
 .para{
     color: gray;
     text-align: center;
 }
#boxes{
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 35px;
    font-family:Arial, Helvetica, sans-serif;
    justify-content:center;
    margin-top: 120px;
}
.box1{
    width: 252px;
    height: 380px;
    border: 1px solid rgb(222,225,230);
    border-radius: 3px;
    text-align: center;
}
.view{
    margin-top: 18%;
    margin-left: 82px;
    width: 90px;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 14px;
    padding: 10px 5px;
}
.del{
    color: gray;
}
.box2{
    width: 252px;
    height: 380px;
    border: 1px solid rgb(222,225,230);
    border-radius: 3px;
    text-align: center;
}
.box2 .special{
    margin-top: 1%;
}
.sales1{
    position: absolute;
    top: 55.5%;
    margin-left: 200px;
    background-color: black;
    color: white;
    border: 1px solid black;
    border-radius: 5px;
    width: 32px;
}
.view1{
    margin-left: 82px;
    width: 90px;
    margin-top: 25px;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 14px;
    padding: 10px 5px;
}
.box3{
    width: 252px;
    height: 380px;
    border: 1px solid rgb(222,225,230);
    border-radius: 3px;
    text-align: center;
}
.view2{
    margin-top: 18%;
    margin-left: 82px;
    width: 90px;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 14px;
    padding: 10px 5px;
}
.box4{
    width: 252px;
    height: 380px;
    border: 1px solid rgb(222,225,230);
    border-radius: 3px;
    text-align: center;
}
.view3{
    margin-left: 82px;
    width: 90px;
    margin-top: 15px;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 14px;
    padding: 10px 5px;
}
.box5{
    width: 252px;
    height: 380px;
    border: 1px solid rgb(222,225,230);
    border-radius: 3px;
    text-align: center;
}
.view4{
    margin-top: 18%;
    margin-left: 82px;
    width: 90px;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 14px;
    padding: 10px 5px;
}
.sales2{
    position: absolute;
    top: 112.5%;
    margin-left: 200px;
    background-color: black;
    color: white;
    border: 1px solid black;
    border-radius: 5px;
    width: 32px;
}
.box6{
    width: 252px;
    height: 380px;
    border: 1px solid rgb(222,225,230);
    border-radius: 3px;
    text-align: center;
}
.view5{
    margin-top: 20%;
    margin-left: 82px;
    width: 90px;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 14px;
    padding: 10px 5px;
}
.box7{
    width: 252px;
    height: 380px;
    border: 1px solid rgb(222,225,230);
    border-radius: 3px;
    text-align: center; 
}
.view6{
    margin-left: 82px;
    width: 90px;
    margin-top: 24px;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 14px;
    padding: 10px 5px;
}
.box8{
    width: 252px;
    height: 380px;
    border: 1px solid rgb(222,225,230);
    border-radius: 3px;
    text-align: center;  
}
.view7{
    margin-left: 82px;
    width: 90px;
    margin-top: 20px;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 14px;
    padding: 10px 5px;
}
.footer{
    background-color: black;
    clear: both;
    padding: 20px;
    color: white;
    text-align: center;
    margin-top: 3%;
}






